{% extends 'shop/Layout/Main.html' %}
{% block title %}
  Registration | Shopify
{% endblock title %}
{% block content %}
  <section class="py-5 text-center container"  style="margin-top:70px;">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bestsellers</h1>
        <p class="lead text-muted">Our most popular products based on sales. Updated hourly.</p>
        <p>
          <a href="{% url 'register' %}" class="btn btn-primary my-2">Register</a>
        </p>
      </div>
    </div>
  </section>
  <section class="bg-light py-4 my-5" style="min-height:600px;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="mb-3">Categories</h4>
          <hr style="border-color:#b8bfc2;">
          {% include 'shop/inc/message.html' %}
         </div>
           {% for item in category %}
           
           <div class="col-md-4 col-lg-3 mb-4">
            <!-- card -->
            <div class="card border-light" style="width: 100%; aspect-ratio: 1 1;">
                <img src="{{ item.image.url }}" alt="Categories" class="card-img-top img-fluid" style="object-fit: cover; height: 100%;">
                <div class="card-footer border-top border-light p-4">
                    <a href="{% url 'collections' item.name %}" class="h5">{{ item.name }}</a>
                    <div class="mt-2" style="font-family: 'Poppins', 'Lato', 'Arvo', 'Raleway', sans-serif;">{{ item.description }}</div>                </div>
            </div>
            <!-- / card -->
        </div>
        
        
        
        


        {% endfor %}

      </div>
      </div>
  </section>

{% endblock content %}